body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
}

html {
  height: -webkit-fill-available;
}



/* oh my god */
header {
  width: 70% !important;
  height: 8vh !important;
  position: fixed;
  left: 25%;
  top: 0%;
  z-index: 1000;
  background-color: white;
}


.text-wrap.fs-6.fw-bold {
  margin-left: 7px;
}

.active {
  background-color: white !important;
  width: 120% !important;
  border-radius: 10vw !important;
  color: #f3336c !important;
}

.nav {
  color: black !important;
}

h4.font-monospace {
  margin-left: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.profileText {
  margin: 0;
}

.profilePic {
  margin-top: 5px !important;
}

.table-notas {
  display: block;
  width: 100%;
  margin-left: 10%S;
  justify-content: center;
  align-items: center;
}



#tabela_notas {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.filters {
  margin-top: 10px;
  margin-left: 5%;
}

.filtro-trimestre {
  margin-left: 2% !important;
}