body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
}

html {
  height: -webkit-fill-available;
}


/* main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
} */


/* oh my god */
header {
  width: 70% !important;
  height: 8vh !important;
  position: fixed;
  left: 25%;
  top: 0%;
  z-index: 1000;
  background-color: white;
}


.text-wrap.fs-6.fw-bold {
  /* Suas propriedades de estilo aqui */
  margin-left: 7px;
}

.active {
  background-color: white !important;
  width: 120% !important;
  border-radius: 10vw !important;
  color: #f3336c !important;
}

.nav {
  color: black !important;
}

h4.font-monospace {
  margin-left: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.profileText {
  margin: 0;
}

.profilePic {
  margin-top: 5px !important;
}

/* .tables {
  display: inline-flex;
  flex-direction: row;
} */

.table-notas {
  display: block;
  width: 100%;
  margin-left: 10%S;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically (optional) */
}


/* .table-notas {
  margin-left: 0px;
  margin-top: 50%;
} */

#tabela_notas {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.filters {
  margin-top: 10px;
  margin-left: 5%;
}

.filtro-trimestre {
  margin-left: 2% !important;
}